---
layout: default
---

<header>
	{% if site.theme_config.show_navbar == true %}
	  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
	  <div class="dashed"></div>
	{% endif %}
  <h1 align="center">Articles</h1>
</header>
<div class="dashed"></div>
{% include post_list.html %}
<div class="dashed"></div>
<!-- <a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a> -->

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
