---
layout: default
---

<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.css">
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <!-- <h1>{{ site.title }}</h1> -->
  {% if site.theme_config.show_description == true %}
    <p align="center">{{ site.description }}</p>
	<div class="dashed"></div>
  {% endif %}
</header>

{{ content }}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_feature == true %}
  <h2>{{ site.theme_config.home.title_feature }}</h2>
  {% include feature_list.html collection=site.data.home.feature_entries %}
{% endif %}

{% if site.theme_config.show_achievements == true %}
  <h2>{{ site.theme_config.home.title_achievements }}</h2>
  {% include card_list.html collection=site.data.home.achievements_entries %}
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
