---
layout: default
---
<header>
	<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	{% if site.theme_config.show_navbar == true %}
		  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
		  <div class="dashed"></div>
	{% endif %}
	<h1 class="post-title">{{ page.title }}</h1>
</header>
<br>
{% include date_and_social_share.html %}

<p align="right">
<span id="busuanzi_container_page_pv">
	view:<span id="busuanzi_value_page_pv"></span>
</span>
</p>

{{ content }}

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
