---
layout: default
---
<header>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.css">
	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	{% if site.theme_config.show_navbar == true %}
		  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
		  <div class="dashed"></div>
	{% endif %}
	<h1 class="post-title">{{ page.title }}</h1>
</header>
<br>
{% include date_and_social_share.html %}

{{ content }}

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
